---
import { Image } from 'astro:assets'
import {Icon} from 'astro-icon'

import { getCollection } from 'astro:content'
export async function getStaticPaths() {
	const blogEntries = await getCollection('portfolio')
	return blogEntries.map(entry => ({
		params: { slug: entry.slug }, props: { entry },
	}))
}
const { entry:{data:{title, image, price}} } = Astro.props

import Base from '../layouts/Base.astro'
// const { Content } = await entry.render();
---

<Base title={`${title} | LinoLove Design`}>
	<main class="mt-20 md:pt-16 p-4 xl:p-0">
		<a href="/" class="flex items-center"><Icon name="ep:arrow-up-bold" class="h-5 -rotate-90" />Volver</a>
		<Image class="h-auto max-w-lg rounded-lg my-3 mx-auto" src={image} alt='ver' />
		<h1 class="text-3xl font-bold">{title}</h1>
		<p class="text-xl font-bold">Precio: ${price}</p>
		<p class="text-xl font-bold">Talles: M</p>
		<p class="text-xl font-bold">Tela: Algodon</p>
		<p><span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero dolorum nemo obcaecati ducimus officiis perspiciatis ex, tempore atque itaque deserunt odio possimus impedit. Ipsa impedit pariatur illo assumenda eius iste?</span><span>Est distinctio in beatae rem ipsa eius nisi animi similique eum ex exercitationem hic magnam quis obcaecati, rerum illo, nesciunt sequi facere quod placeat omnis! Distinctio maiores fugiat reiciendis dignissimos.</span><span>Similique dolore porro omnis expedita. Repudiandae placeat ullam adipisci voluptatum odio atque quibusdam similique a accusamus! Architecto quas officia, quis sit eos sapiente quam facilis. Amet natus aperiam explicabo beatae.</span><span>Architecto aliquam voluptates voluptas assumenda alias, velit eligendi laborum nemo voluptatum veritatis commodi facilis necessitatibus impedit laboriosam beatae maxime iste sit non fuga nisi ducimus soluta sunt earum. Dolor, tenetur.</span><span>Quasi obcaecati blanditiis consequatur, odio consequuntur quo sunt non numquam mollitia magni explicabo delectus similique autem nihil expedita distinctio eos quidem amet nobis soluta perferendis! Nam omnis provident ut incidunt.</span></p>
	</main>    
</Base> 