---
export const prerender = true;
import { Image } from 'astro:assets'
import {Icon} from 'astro-icon'

import { getCollection } from 'astro:content'
export async function getStaticPaths() {
	const blogEntries = await getCollection('portfolio')
	return blogEntries.map(entry => ({
		params: { slug: entry.slug }, props: { entry },
	}))
}
const { entry:{data:{title, image, price, size, typeOfFabric, description}} } = Astro.props

import Base from '../layouts/Base.astro'
// const { Content } = await entry.render();
---

<Base title={`${title} | LinoLove Design`}>
	<main class="mt-20 md:pt-16 p-4 xl:p-0">
		<a href="/" class="flex items-center text-rose-300 hover:text-rose-500"><Icon name="ep:arrow-up-bold" class="h-5 -rotate-90" />Volver</a>
		<div class="md:w-1/2 mx-auto">
			<Image class="h-auto max-w-lg rounded-lg my-3 mx-auto" src={image} alt='ver' />
			<h1 class="text-3xl text-center font-bold text-rose-700">{title}</h1>
			<p class="text-xl font-bold text-center text-rose-500">Precio: ${price}</p>
			<div class="flex items-center justify-evenly text-rose-400">
				{
					size === undefined ? '' : <p class="text-xl font-bold">Talles: {size}</p>
				}
				{
					typeOfFabric === undefined ? '' : <p class="text-xl font-bold">Tela: {typeOfFabric}</p>
				}
				{
					description === undefined ? '' : <p>{description}</p>
				}
			</div>
		</div>
	</main>    
</Base> 