---
const {slug, image, price, title} = Astro.props

import { Image } from 'astro:assets';
---
  
<a href={`/${slug}`} rel="prefetch">
	<div class="card max-w-sm h-modal bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
		<Image class="w-full h-5/6 rounded-t-lg" src={image} alt={title} />
		<div class="text-center md:p-5">    
			<h5 class="md:mb-2 text-md md:text-3xl font-bold tracking-tight text-rose-900 dark:text-white">{title}</h5>
			<p class="text-sm md:text-xl font-medium text-rose-500 dark:text-gray-400">$ {price}</p>
		</div>
	</div>
</a>

<style>
  @keyframes show {
    from {
      opacity: 0;
      scale: 25%;
    }
    to {
      opacity: 1;
      scale: 100%;
    }
  }

  .card {
    view-timeline-name: --scroll;
    view-timeline-axis: block;
    animation-timeline: --scroll;
    animation-name: show;
    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
  }
</style>